body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: auto;
  }
  
  header {
    grid-column: 1/3;
    background-color: white;
    text-align: center;
  }
  
  main {
    overflow-y: scroll;
    padding: 1em;
  }
  
  nav {
    overflow-y: auto;
    padding: 1em;
    background-color: #ADD8E6;
  }